---
layout: default
---

<nav class="breadcrumbs">
  <a href="/">Home</a> ›
  <a href="/blog">Blog</a> ›
  <span>{{ page.title }}</span>
</nav>

<article class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>

    <div class="post-meta">
      By {{ page.author }} • {{ page.date | date: "%B %d, %Y" }}
    </div>

    {% if page.image %}
      <img src="{{ page.image }}" alt="{{ page.title }}" class="post-image">
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="share-buttons">
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url }}" target="_blank">
      Share on Twitter
    </a>

    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}" target="_blank">
      Share on LinkedIn
    </a>
  </div>

</article>
